node_modules/
dist/   
.env
.DS_Store
.vscode/
coverage/
npm-debug.log
yarn-error.log
.idea/
*.log
/build/
.tmp/
.cache/
.out/
.next/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.tsbuildinfo
.pnp/
.pnp.js
.vscode-test/

# Mac system files
.AppleDouble
.LSOverride
# Thumbnails
._*
# Icon must end with two \r
Icon\r\r    
